<body ng-app="myApp">
<p>
<p>
<p>
<p>
<p>
<div ng-controller="ChatForumController" class="container">

<p>
<p>
<p>
<p>
<p>
<form ng-submit="addMessage()" name="messageForm">
 <input type="text" placeholder="Compose a new message..." ng-model="message.msg" />
   <div class="info">
     <span class="count" ng-bind="max - message.msg.length" ng-class="{danger: message.msg.length > max}">50</span>
       <button ng-disabled="message.msg.length > max || message.msg.length === 0">send</button>
       </div>
      </form>
     <hr />
     <p ng-repeat="message in messages | orderBy: 'time':true" class="message">
       <time>{{message.time | date: 'HH:mm'}}</time>
         <span>{{message.name}} Says : {{message.msg}}</span>
         </p>
         </div>
         
         
         
         </body>
           